.p404__footer a {
  text-decoration: none;
  color: var(--text-color);
}

.p404__footer a:hover {
  color: var(--title-color);
}

/*=============== HOME ===============*/
.p404 {
  background-color: var(--body-color);
  padding: 9rem 0 2rem;
  height: 100dvh;
  display: grid;
}

.p404__container {
  display: grid;
  align-content: center;
  row-gap: 2.5rem;
}

.p404__data {
  text-align: center;
}

.p404__title {
  font-size: var(--biggest-font-size);
  margin: .75rem 0;
}

.p404__button {
  margin-top: 2rem;
  display: inline-block;
  background-color: hsl(219, 69%, 61%);
  color: #fff;
  padding: .80rem 1.5rem;
  border-radius: 3rem;
  transition: .4s;
}

.p404__button:hover {
  box-shadow: 0 4px 12px hsla(38, 69%, 8%, .2);
  background-color: hsl(219, 69%, 71%);
  color: #fff;
  transition: .4s;
}

.p404__img img {
  width: 230px;
  animation: floaty 1.8s infinite alternate;
}

.p404__img {
  justify-self: center;
}

.p404__shadow {
  width: 130px;
  height: 24px;
  background-color: hsla(38, 21%, 19%, .16);
  margin: 0 auto;
  border-radius: 50%;
  filter: blur(7px);
  animation: shadow 1.8s infinite alternate;
}

.p404__footer {
  display: flex;
  justify-content: center;
  column-gap: .5rem;
  font-size: var(--smaller-font-size);
  align-self: flex-end;
}

/* Animate ghost */
@keyframes floaty {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

@keyframes shadow {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(.85, .85);
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .p404 {
    padding-top: 7rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .p404__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }
  .p404__data {
    text-align: initial;
  }
  .p404__img img {
    width: 400px;
  }
  .p404__shadow {
    width: 250px;
    height: 40px;
  }
}