.privacy__container {
  position: relative;
  padding: 6rem 0 2rem;
  width: 90%;
  max-width: 968px;
  margin: 0 auto;
}

.privacy__container h1,
.privacy__container h2,
.privacy__container h3,
.privacy__container h4,
.privacy__container h5,
.privacy__container h6,
.privacy__container p,
.privacy__container li {
  margin: 0 0 1rem;
}

.privacy__container h1 {
  line-height: 3.75rem;
}

.privacy__container h3 {
  font-size: var(--h3-font-size);
  font-weight: 600;
}

.privacy__container h4 {
  font-size: var(--h4-font-size);
  font-weight: 600;
}

.privacy__container h5 {
  font-size: var(--h5-font-size);
  font-weight: 600;
}

.privacy__container h6 {
  font-size: var(--h6-font-size);
  font-weight: 600;
}

.privacy__container p {
  font-size: var(--normal-font-size);
  font-weight: 400;
}

.privacy__container a {
  color: var(--first-color);
  text-decoration: none;
  font-weight: 600;
}
