---
const footerList = [
  {
    id: 'footer-link-1',
    title: 'About',
    link: '#about',
    target_blank: false,
  },
  {
    id: 'footer-link-2',
    title: 'Store',
    link: 'https://store.jpxoi.com',
    target_blank: true,
  },
  {
    id: 'footer-link-3',
    title: 'Donate',
    link: 'https://www.paypal.com/donate/?hosted_button_id=7FLJ7WSKMAYTQ',
    target_blank: true,
  },
  {
    id: 'footer-link-4',
    title: 'Client Portal',
    link: 'https://billing.stripe.com/p/login/14k3ez8zT1YR6qcfYY',
    target_blank: true,
  },
]
---

<ul class='footer__list'>
  {
    footerList.map((item) => (
      <li>
        <a
          id={item.id}
          href={item.link}
          target={item.target_blank ? '_blank' : '_self'}
          rel={item.target_blank ? 'noopener noreferrer' : ''}
          class='footer__link'
          aria-label={item.title}
        >
          {item.title}
        </a>
      </li>
    ))
  }
</ul>
