---
import FooterList from './FooterList.astro'
import FooterSocial from './FooterSocial.astro'
---

<footer class='footer'>
  <div class='footer__container custom-container grid'>
    <h2 class='footer__title'>Jean Paul Fernandez</h2>
    <FooterList />
    <FooterSocial />
    <span class='footer__copy'> &#169; {new Date().getFullYear()} Jean Paul Fernandez. All Rights Reserved. </span>
  </div>
</footer>
