---
import { NAV_ITEMS } from '../data/navigation'
import NavMenuItem from './NavMenuItem.astro'
---

<div class='nav__menu'>
  <ul class='nav__list'>
    {NAV_ITEMS.map((item) => <NavMenuItem {...item} />)}
  </ul>
</div>
<script>
  const sections = document.querySelectorAll('section[id]') as NodeListOf<HTMLElement>

  function scrollActive() {
    const scrollY = window.scrollY

    sections.forEach((current) => {
      const sectionHeight = current.offsetHeight,
        sectionTop = current.offsetTop - 58,
        sectionId = current.getAttribute('id')

      if (scrollY > sectionTop && scrollY <= sectionTop + sectionHeight) {
        document.querySelector('.nav__menu a[href*=' + sectionId + ']')?.classList.add('active-link')
      } else {
        document.querySelector('.nav__menu a[href*=' + sectionId + ']')?.classList.remove('active-link')
      }
    })
  }

  window.addEventListener('scroll', scrollActive)
</script>
