---
import { services } from '../data/services'
import ServiceCard from './ServiceCard.astro'
---

<section class='services section'>
  <span class='section__subtitle'>My Services</span>
  <h2 class='section__title'>What I Offer</h2>

  <div class='services__container custom-container grid'>
    {
      services.map((service) => (
        <ServiceCard title={service.title} description={service.description} items={service.items} />
      ))
    }
  </div>
</section>
<script>
  const modalViews = document.querySelectorAll('.services__modal') as NodeListOf<HTMLDivElement>,
    modalBtns = document.querySelectorAll('.services__button') as NodeListOf<HTMLButtonElement>,
    modalClose = document.querySelectorAll('.services__modal-close') as NodeListOf<HTMLButtonElement>

  let modal = function (modalClick: number) {
    modalViews[modalClick].classList.add('active-modal')
  }

  modalBtns.forEach((mb, i) => {
    mb.addEventListener('click', () => {
      modal(i)
    })
  })

  modalClose.forEach((mc) => {
    mc.addEventListener('click', () => {
      modalViews.forEach((mv) => {
        mv.classList.remove('active-modal')
      })
    })
  })

  // Close modal when clicking outside the modal content
  document.addEventListener('click', function (event) {
    modalViews.forEach((modalView) => {
      if (modalView.classList.contains('active-modal')) {
        // Find the modal content area inside the modal
        const modalContent = modalView.querySelector('.services__modal-content')
        // Check if the click target is inside the modal content
        if (
          modalContent &&
          !modalContent.contains(event.target as Node) &&
          !(event.target as Element).closest('.services__button') // Allow opening
        ) {
          modalView.classList.remove('active-modal')
        }
      }
    })
  })
</script>
