---
import { skillsData } from '../data/skills'
import SkillBox from './SkillBox.astro'
---

<section class='skills section' id='skills'>
  <span class='section__subtitle'>My Stack</span>
  <h2 class='section__title'>Skills & Technologies</h2>

  <div class='skills__container custom-container grid'>
    {skillsData.map((item) => <SkillBox title={item.title} skills={item.skills} />)}
  </div>
</section>
